<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kise.IdCard.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kise.IdCard.UI.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </Kise.IdCard.UI.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IIdQueryWcfService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/Kise.IdCard.QueryServer.UI.Service/IdQueryWcfService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIdQueryWcfService"
        contract="WcfService.IIdQueryWcfService" name="NetTcpBinding_IIdQueryWcfService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
  </system.serviceModel>
  <!--<system.net>
      <defaultProxy>
        <proxy usesystemdefault="False"/>
      </defaultProxy>
    </system.net>-->
</configuration>