<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kise.IdCard.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kise.IdCard.UI.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </Kise.IdCard.UI.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIdQueryWcfService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.6:8733/Design_Time_Addresses/Kise.IdCard.QueryServer.UI.Service/IdQueryWcfService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdQueryWcfService"
          contract="WcfService.IIdQueryWcfService" name="BasicHttpBinding_IIdQueryWcfService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
  </system.serviceModel>

</configuration>