<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="E_Police.DataAccessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="E_Police.DataAccessLayer.Properties.Settings.TrafficPoliceConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=TrafficPolice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <E_Police.DataAccessLayer.Properties.Settings>
            <setting name="DataProvider" serializeAs="String">
                <value>E_Police.DataAccessLayer.SqlDataProvider</value>
            </setting>
        </E_Police.DataAccessLayer.Properties.Settings>
    </applicationSettings>
</configuration>