<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WatchDog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="log4net.Config" value="watchdog.log4net.config" />
  </appSettings>

  <applicationSettings>
    <WatchDog.Properties.Settings>
      <setting name="SecondsToHoldAfterReport" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="HourToReboot" serializeAs="String">
        <value>3:00</value>
      </setting>
      <setting name="ApplicationToReboot" serializeAs="String">
        <value>C:\Program Files\Damany\人像抓拍2010\RemoteImaging.exe</value>
      </setting>
      <setting name="ShutDownCommand" serializeAs="String">
        <value>C:\Windows\System32\shutdown.exe</value>
      </setting>
      <setting name="PortToListen" serializeAs="String">
        <value>9999</value>
      </setting>
      <setting name="ShutDownCommandParameter" serializeAs="String">
        <value> -r -t 0</value>
      </setting>
      <setting name="EnableReboot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileExtensionsToMonitor" serializeAs="String">
        <value>.m4v;.jpg</value>
      </setting>
      <setting name="DirectoryToWatch" serializeAs="String">
        <value>d:\imageoutput</value>
      </setting>
      <setting name="SecondsToReport" serializeAs="String">
        <value>90</value>
      </setting>
    </WatchDog.Properties.Settings>
  </applicationSettings>
</configuration>
