<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RemoteImaging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <RemoteImaging.Properties.Settings>
   <setting name="OutputPath" serializeAs="String">
    <value>D:\ImageOutput</value>
   </setting>
   <setting name="BigImageDirectoryName" serializeAs="String">
    <value>BigPic</value>
   </setting>
   <setting name="IconDirectoryName" serializeAs="String">
    <value>Icon</value>
   </setting>
   <setting name="VideoDirectoryName" serializeAs="String">
    <value>Video</value>
   </setting>
   <setting name="ImageUploadPool" serializeAs="String">
    <value>D:\UploadPool</value>
   </setting>
   <setting name="ColumnNumber" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="CamConfigFile" serializeAs="String">
    <value>CamConfig.xml</value>
   </setting>
   <setting name="LengthOfImageGroup" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="IconLeftExtRatio" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="IconRightExtRatio" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="IconTopExtRatio" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="IconBottomExtRatio" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="MinFaceWidth" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="DownSampling" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="SrchRegionLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SrchRegionTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SrchRegionWidth" serializeAs="String">
    <value>1920</value>
   </setting>
   <setting name="VideoDnTool" serializeAs="String">
    <value>.\VideoDownLoadTool\HDCDownloader.exe</value>
   </setting>
   <setting name="SrchRegionHeight" serializeAs="String">
    <value>1080</value>
   </setting>
   <setting name="EnvMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FPs" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="DrawMotionRect" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DetectMotion" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="removeDuplicatedFace" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MaxDupFaces" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="LastSelCamID" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="BrightMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ComName" serializeAs="String">
    <value>COM3</value>
   </setting>
   <setting name="CurIp" serializeAs="String">
    <value>192.168.0.6</value>
   </setting>
   <setting name="Thresholding" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="ImageArr" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="Point" serializeAs="String">
    <value>600 110 700 1200  </value>
   </setting>
   <setting name="MaxFaceWidth" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="SaveDay" serializeAs="String">
    <value>2false</value>
   </setting>
   <setting name="Temp" serializeAs="String">
    <value />
   </setting>
   <setting name="WarnPicSavePath" serializeAs="String">
    <value />
   </setting>
   <setting name="WarnInfoHandleMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ImpPersonConfigure" serializeAs="String">
    <value>ImpPersonConfigure.xml</value>
   </setting>
   <setting name="ImpSelectPersonPath" serializeAs="String">
    <value>C:\faceRecognition\selectedFace\</value>
   </setting>
   <setting name="FaceStoregePath" serializeAs="String">
    <value />
   </setting>
   <setting name="SimilarityLevel" serializeAs="String">
    <value>0.5,0.58|0.58,0.68|0.68,1</value>
   </setting>
   <setting name="DiskQuota" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="FaceSampleLib" serializeAs="String">
    <value>C:\faceRecognition\faceSample\</value>
   </setting>
   <setting name="RecheckFace" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowFaceRecognizeButton" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="KeepMotionLessVideo" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FreeDiskspaceCheckIntervalMs" serializeAs="String">
    <value>60000</value>
   </setting>
   <setting name="MaxFrameQueueLength" serializeAs="String">
    <value>40</value>
   </setting>
  </RemoteImaging.Properties.Settings>
 </userSettings>
</configuration>
