<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CarDetectorTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CarDetectorTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="CarDetectorTester.log4net.config" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><applicationSettings>
    <CarDetectorTester.Properties.Settings>
      <setting name="FrequencyQueryCmd" serializeAs="String">
        <value>AA 55 03 00 02 00</value>
      </setting>
      <setting name="FrequencyQueryIntervalInMs" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SetLongAndWidthCommand" serializeAs="String">
        <value>AA 55 07 01 02 {0:X4} {1:X4} 00</value>
      </setting>
    </CarDetectorTester.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CarDetectorTester.Properties.Settings>
      <setting name="LastCommand" serializeAs="String">
        <value>AA 55 04 01 01 01 03</value>
      </setting>
    </CarDetectorTester.Properties.Settings>
  </userSettings>
</configuration>
